{% extends 'Clientes.html' %}
{% load static %}
{% block tema %}<h1>Acerca de</h1>{% endblock %}
    <!-- Contenido Principal -->
    {%  block contert %}
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-4 offset-lg-1">
          <img class="img-fluid avatar" src="{% static 'img/logo.gif' %}" alt="">
        </div>
        <div class="col-lg-7 col-md-8">
          <h2 class="section-heading">FRIO DURAN</h2>
          <p>Venta por menor de línea blanca y repuestos en General. Las mejores marcas, los mejores repuestos y los mejores precios. </p>
          <p> </p>
        </div>
      </div>
    </div>
    {% endblock %}
