{% extends 'plantilla.html' %}
{%  load static %}
	    <!-- Navegación -->

{% block portada %}
    {% static 'img/portada.jpg' %}
{% endblock %}
{% block tema %} <h1>Herramientas de Clientes</h1> {% endblock %}
{% block subtitulo %} REFRECA TU VIDA {% endblock %}
{% block navegacion %}
    <li class="nav-item">
	              <a class="nav-link" href="{% url 'home' %}">Inicio</a>
	            </li>
	            <li class="nav-item">
	              <a class="nav-link" href="{% url 'caja' %}">Crear Usuario</a>
	            </li>
	            <li class="nav-item">
	              <a class="nav-link" href="{% url 'crear_rol' %}">Crear Rol</a>
	            </li>
	            <li class="nav-item">
	              <a class="nav-link" href="{% url 'crear_permisos' %}">Asignar Roles</a>
	            </li>
{% endblock %}
	    <!-- Contenido Principal -->
        {% block contert %}
	    <div class="container">
	      <!-- Proyecto  1 -->
	      <div class="row project">
	      	<div class="col-lg-3 col-md-4 offset-lg-1">
			      <img class="img-fluid" src="{% static 'img/img1.jpg' %}" alt="">
	      	</div>
	        <div class="col-lg-7 col-md-8">
	      		<h2 class="section-heading title">Caja</h2>
	          <p>Configuracion  de Caja</p>
	          <p><a href="{% url 'login' %}">Abrir</a></p>
	      	</div>
	      </div>
	      <!-- Proyecto 2 -->
	      <div class="row project">
	      	<div class="col-lg-3 col-md-4 offset-lg-1">
			      <img class="img-fluid" src="{% static 'img/img4.png' %}" alt="">
	      	</div>
	        <div class="col-lg-7 col-md-8">
	      		<h2 class="section-heading title">Clientes</h2>
	          <p>Configuracion de Clientes</p>
	          <p><a href="https://www.facebook.com/frioduran">Abrir</a></p>
	      	</div>
          </div>
          <div class="row project">
	      	<div class="col-lg-3 col-md-4 offset-lg-1">
			      <img class="img-fluid" src="{% static 'img/img5.png' %}" alt="">
	      	</div>
	        <div class="col-lg-7 col-md-8">
	      		<h2 class="section-heading title">Bodega</h2>
	          <p>Configuracion de Bodega</p>
	          <p><a href="https://www.facebook.com/frioduran">Abrir</a></p>
	      	</div>
          </div>
        </div>
        {% endblock %}