{% extends 'plantilla.html' %}
{% load static %}
    <!-- Portada -->
{% block portada %} {% static 'img/log.jpg'  %} {% endblock %}
<!-- Subtitulo -->
{% block subtitulo %} REFRESCANDO TU VIDA {% endblock %}
<!-- Navegación -->
{% block navegacion %}

    <li class="nav-item">
      
      
        
      
      {% if request.user.is_authenticated %}
        
      
      
        
          
        
      {% if user.rol_usuario.rol.nombre == 'Caja' %}     
              <a class="nav-link" href="{% url 'caja' %}">Caja</a>
            </li>
            
             <li class="nav-item">
              <a class="nav-link" href="{% url 'logout' %}">Cerrar Sesion</a>
            </li>
            {% endif %}
        {% if user.rol_usuario.rol.nombre == 'Administrador' %}
            <a class="nav-link" href="{% url 'home' %}">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'usuario' %}">Usuario</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'rol' %}">Rol</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'rol_usuario' %}">Asignar Roles</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">Cerrar Sesion</a>
          </li>
        {% endif %}
        {% if user.rol_usuario.rol.nombre == 'Bodega' %}     
              
            <li class="nav-item">
              <a class="nav-link" href="{%  url 'bodega' %}">Bodega</a>
            </li>
            
             <li class="nav-item">
              <a class="nav-link" href="{% url 'logout' %}">Cerrar Sesion</a>
            </li>
            {% endif %}
        
          
      {% endif %}
{% endblock %}
{% block tema %}
  <h1>Frio Duran</h1>
{% endblock tema %}