{% extends 'plantilla.html' %}
{% load static %}
    <!-- Portada -->
{% block portada %} {% static 'img/log.jpg'  %} {% endblock %}
<!-- Subtitulo -->
{% block subtitulo %} REFRESCANDO TU VIDA {% endblock %}
<!-- Navegación -->
{% block navegacion %}
    <li class="nav-item">
              <a class="nav-link" href="{% url 'caja' %}">Caja</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'cliente' %}">Clientes</a>

            </li>
            <li class="nav-item">
              <a class="nav-link" href="{%  url 'bodega' %}">Bodega</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'administrador' %}">Administrador</a>
            </li>
             <li class="nav-item">
              <a class="nav-link" href="{% url 'logout' %}">Cerrar Sesion</a>
            </li>
{% endblock %}
{% block tema %}
  <h1>Frio Duran</h1>
{% endblock tema %}