{% extends 'plantilla.html' %}
{% load static %}
<!-- Navegación -->
{% block portada %} {% static 'img/portada.jpg' %} {% endblock %}
{% block navegacion %}
    <li class="nav-item">
              <a class="nav-link" href="{% url 'home' %}">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'entrada_producto' %}"> Entrada Mercaderia </a>

            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'salida_producto' %}">Salida de Mercaderia</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'producto_bodega' %}">Productos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'help_bodega' %}">Help</a>
            </li>
{% endblock %}
{% block subtitulo %} FRIO DURAN {% endblock %}
