{% extends 'plantilla.html' %}
{% load static %}
{% block portada %} {% static 'img/portada.jpg' %} {% endblock %}
{% block navegacion %}
    <li class="nav-item">
              <a class="nav-link" href="{%  url 'home' %}">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'ingresar_factura' %}">Clientes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'facturas' %}">Facturacion</a>

            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'producto_caja' %}">Producto</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{%  url 'help_caja' %}">Help</a>
            </li>
{% endblock %}

{% block tema %}
  <h1>Caja</h1>
{% endblock  %}