{% extends 'plantilla.html' %}
{% load static %}
{%  block portada %}  {% static 'img/portada.jpg' %} {% endblock %}
{% block subtitulo %} FRIO  DURAN {% endblock %}
    <!-- Navegación -->
{% block navegacion %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'home' %}">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'about' %}">Acerca de</a>

            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'producto_cliente' %}">Producto</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'cliente_facturas' %}">Recibos de Factura</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{%  url 'contacto' %}">Contacto</a>
            </li>
{% endblock %}
{% block tema %}
  <h1>Cliente</h1>
{% endblock  %}