{% extends "Clientes.html" %}
{%  load static %}
{% block tema %} <h1>Contactos</h1> {% endblock %}
	    <!-- Contenido Principal -->
{% block contert %}
	    <div class="container">
	      <!-- Proyecto -->
	      <div class="row project">
	      	<div class="col-lg-3 col-md-4 offset-lg-1">
			      <img class="img-fluid" src="/static/img/telefono.jpg" alt="">
	      	</div>
	        <div class="col-lg-7 col-md-8">
	      		<h2 class="section-heading title">Contactos Telefonicos</h2>
	          <p>Telefono: 042-156218</p>
              <p>Celular: 0990789603 </p>
	          <p><a href="https://www.facebook.com/frioduran">Más información</a></p>
	      	</div>
	      </div>
	      <!-- Proyecto -->
	      <div class="row project">
	      	<div class="col-lg-3 col-md-4 offset-lg-1">
			      <img class="img-fluid" src="/static/img/correo.jpg" alt="">
	      	</div>
	        <div class="col-lg-7 col-md-8">
	      		<h2 class="section-heading title">Correo Electronico</h2>
	          <p>frio_duran@hotmail.com</p>
	          <p><a href="https://www.facebook.com/frioduran">Más información</a></p>
	      	</div>
	      </div>
		  </div>
{% endblock %}