{% extends 'caja.html' %}
{%  load static %}
{% block tema %}<h1>Facturas</h1>{% endblock %}
	    <!-- Contenido Principal -->
{% block contert %}
	    <div class="container">
	      <!-- Proyecto -->
	      <div class="row project">
	      	<div class="col-lg-3 col-md-4 offset-lg-1">
			      <img class="img-fluid" src="{% static 'img/img1.jpg' %}" alt="">
	      	</div>
	        <div class="col-lg-7 col-md-8">
	      		<h2 class="section-heading title">Crear Factura</h2>
	          <p>Formulario de Factura</p>
	          <p><a href="https://www.facebook.com/frioduran">Iniciar</a></p>
	      	</div>
	      </div>
	      <!-- Proyecto -->
	      <div class="row project">
	      	<div class="col-lg-3 col-md-4 offset-lg-1">
			      <img class="img-fluid" src="{% static 'img/img2.png' %}" alt="">
	      	</div>
	        <div class="col-lg-7 col-md-8">
	      		<h2 class="section-heading title">Ver factura</h2>
	          <p>Prodras ver y imprimir facturas</p>
	          <p><a href="https://www.facebook.com/frioduran">Ver</a></p>
	      	</div>
	      </div>
		  </div>
        {% endblock %}
