{% extends "Bodega.html" %}
{%  load static %}
{% block tema %}<h1>Ayuda para Usuarios </h1>{% endblock %}
	    <!-- Contenido Principal -->
{% block contert %}
	    <div class="container">
	      <!-- Proyecto -->
	      <div class="row project">
	      	<div class="col-lg-3 col-md-4 offset-lg-1">
			      <img class="img-fluid" src="{% static 'img/help.png' %}" alt="">
	      	</div>
	        <div class="col-lg-7 col-md-8">
	      		<h2 class="section-heading title">Entradas de Productos</h2>
	          <p>Problemas de Ingreso de Productos</p>

	          <p><a href="https://www.facebook.com/frioduran">Abrir</a></p>
	      	</div>
	      </div>
	      <!-- Proyecto -->
	      <div class="row project">
	      	<div class="col-lg-3 col-md-4 offset-lg-1">
			      <img class="img-fluid" src="{% static 'img/help.png' %}" alt="">
	      	</div>
	        <div class="col-lg-7 col-md-8">
	      		<h2 class="section-heading title">Salida de Productos</h2>
                <p> Problemas con la Salida de Productos</p>

	          <p><a href="https://www.facebook.com/frioduran">Abrir</a></p>
	      	</div>
	      </div>
		  <!-- Proyecto -->
	      <div class="row project">
	      	<div class="col-lg-3 col-md-4 offset-lg-1">
			      <img class="img-fluid" src="{% static 'img/help.png' %}" alt="">
	      	</div>
	        <div class="col-lg-7 col-md-8">
	      		<h2 class="section-heading title">Productos</h2>
                <p>Problemas de Ingresar Productos </p>

	          <p><a href="https://www.facebook.com/frioduran">Abrir</a></p>
	      	</div>
	      </div>
		  </div>
{% endblock %}
