{% extends "plantilla_login.html" %}   

{% block forms %}
	<form method="POST">
                    {% csrf_token %}
                    <label for="username">Username</label>
                    <input type="text" name="username" class="form-control " placeholder="username">
                    <label for="password">Password</label>
                    <input type="password" name="password" class="form-control" placeholder="password">
                    <button type="submit" class="btn btn-primary" >Login</button> 
                </form>
                <a href="{% url 'register' %}" class="btn btn-primary">Register</a>
     	
{% endblock forms %}     
	              