{% extends 'Bodega.html' %}
{% block tema %}
<h1>Factura</h1>
{% endblock %}

{% block contert %}
<h2> Modificar Salida d eMercaderia</h2>
    <form method="POST">   
                
        {% csrf_token %}
        {% for i in form2 %}
            <ul class="form-group row">
                <ul class="col-sm-2 col-form-label">
                    {{i.label_tag}}
                </ul>              
                <ul class="col-sm-3">
                    {{i}} 
                </ul>  
            </ul>

        {% endfor %}
        {% for i in form %}
            <ul class="form-group row">
                <ul class="col-sm-2 col-form-label">
                    {{i.label_tag}}
                </ul>              
                <ul class="col-sm-3">
                    {{i}} 
                </ul>  
            </ul>

        {% endfor %}
        
                
    <button type="submit" class="btn btn-success">Crear </button>
</form>
{% endblock %}