{% extends 'caja.html' %}
{% block tema %}
<h1>Modifiar Producto</h1>
{% endblock %}

{% block contert %}
<ul><h2> Modificar Producto </h2></ul>

    <form method="POST">
        
                {% csrf_token %}

                {% for i in formproducto %}
                    <ul class="form-group row">
                        <ul class="col-sm-2 col-form-label">
                            {{i.label_tag}}
                        </ul>              
                        <ul class="col-sm-3">
                            {{i}} 
                        </ul>  
                    </ul>

                {% endfor %}
                
                     
                
    
        
    
    <ul>
        <button type="submit" class="btn btn-success">Modificar Producto</button>
    </ul>
    
</form>
{% endblock %}