{% extends 'caja.html' %}

{%  load static %}
{% block tema %}<h1>Productos Disponibles</h1>{% endblock %}

{% block contert %}
	    <div class="container">
	      <!-- Proyecto -->
	      <div class="row project">
	      	<div class="col-lg-3 col-md-4 offset-lg-1">
			      <img class="img-fluid" src="/static/img/portada4.jpg" alt="">
	      	</div>
	        <div class="col-lg-7 col-md-8">
	      		<h2 class="section-heading title">Licuadoras</h2>
	          <p>XXXXXXXXXXX</p>
	          <p><a href="https://www.facebook.com/frioduran">Más información</a></p>
	      	</div>
	      </div>
	      <!-- Proyecto -->
	      <div class="row project">
	      	<div class="col-lg-3 col-md-4 offset-lg-1">
			      <img class="img-fluid" src="/static/img/portafolio3.jpg" alt="">
	      	</div>
	        <div class="col-lg-7 col-md-8">
	      		<h2 class="section-heading title">Aire Acondicionado</h2>
	          <p>XXXXXXX</p>
	          <p><a href="https://www.facebook.com/frioduran">Más información</a></p>
	      	</div>
	      </div>
		  </div>
        {% endblock %}

