{% extends 'Clientes.html' %}
{%  load static %}
{% block tema %}<h1>Facturas</h1>{% endblock %}
	    <!-- Contenido Principal -->
{% block contert %}
	    <div class="container">
	      <!-- Proyecto -->
	      <div class="row project">
	      	<div class="col-lg-3 col-md-4 offset-lg-1">
			      <img class="img-fluid" src="{% static 'img/portada 9.jpg' %}" alt="">
	      	</div>
	        <div class="col-lg-7 col-md-8">
	      		<h2 class="section-heading title">05/08/2020</h2>
	          <p>XXXXXXXXXXX</p>
	          <p><a href="https://www.facebook.com/frioduran">abrir</a></p>
	      	</div>
	      </div>
	      <!-- Proyecto -->
	      <div class="row project">
	      	<div class="col-lg-3 col-md-4 offset-lg-1">
			      <img class="img-fluid" src="{% static 'img/portada 9.jpg' %}" alt="">
	      	</div>
	        <div class="col-lg-7 col-md-8">
	      		<h2 class="section-heading title">07/08/2020</h2>
	          <p>XXXXXXX</p>
	          <p><a href="https://www.facebook.com/frioduran">abrir</a></p>
	      	</div>
	      </div>
		  </div>
{% endblock %}

