{% extends "Bodega.html" %}
{%  load static %}
{% block tema %}<h1>Clientes</h1>{% endblock %}
	    <!-- Contenido Principal -->
        {% block contert %}
	    <div class="container">
        <div class="col-md-13" style="margin-top: 70px;">
			<!-- nombre tabla --> 
            <h2> Tabla de Salida de Producto </h2>
            <form class="form-inline">
                {% csrf_token %}
                <input class="form-control mr-sm-2" type="search" placeholder="Buscar..." aria-label="buscar" name="buscar" value="">
                <button  class="btn-success btn-sm" type="submit">Buscar</button>
              </form>

            <div class="ml-auto float-right">
                <h1></h1>
                <a class="btn btn-primary btn-sm"  role="button" href="{% url 'crear_salida' %}">+ Crear</a>
                <h1></h1>
            </div>
            <div class="table-responsive ">
                <table class="table table-striped table-sm table-hover table-bordered">
                    <thead class="thead-dark">
                    <tr>
                        <th>#</th>
                        <th>Producto</th>
                        <th>Descripcion</th>
                        <th>Cantidad</th>
                        <th>Precio</th>
                        <th>Monto Total</th>
                    
                        <th>Editar</th>
                        <th>Eliminar</th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for i in salidas%}
                        <tr>
                            <td>{{ i.id }}</td>
                            <td>{{ i.Producto_id }}</td>
                            <td>{{ i.descripcion }}</td>
                            <td>{{ i.precio }}</td>
                            <td>{{ i.cantidad }}</td>
                            <td>{{ i.monto }}</td>

                            <td><a class="btn-success btn-sm nav-link" href="{% url 'modificar_salida' i.id %}">Editar</a></td>
                            <td><a class="btn-warning btn-sm nav-link" href="{% url 'eliminar_salida' i.id %}">eliminar</a></td>

                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
           
        </div>
        </div>	          
{% endblock %}

